@import "../global";

.about {
    margin-top: 200px;
    position: relative;
    &__description {
        font-size: 16px;
        line-height: 23px;
        max-width: 445px;
        margin-top: 30px;
    }
    &__item {
        height: 160px;
        background-color: white;
        color: $dark;
        border: 0.25px solid $gold;
        flex-direction: column;
        width: 200px;
    }
}
.text {
    &-big {
        @include font($roboto-bold, 64px)
    }
    &-medium{
        font-size:18px;
    }
    &-small {
        font-size: 12px;
    }
}

.block {
    width: 410px;
    height: 482px;
    background: #393F47;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}